<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirect profile requests to index.html -->
                <rule name="Profile Rewrite" stopProcessing="true">
                    <match url="^profile/([^/]+)/?$" />
                    <action type="Rewrite" url="profile/index.html" />
                </rule>
                
                <!-- Prevent direct access to profile/index.html -->
                <rule name="Prevent Direct Profile Access" stopProcessing="true">
                    <match url="^profile/index\.html$" ignoreCase="true" />
                    <conditions>
                        <add input="{HTTP_REFERER}" pattern="^https?://[^/]+/profile/" negate="true" ignoreCase="true" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access denied" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>